<footer>
  <div> LOGO </div>
  <div>
    <p>Subscribe to Fill-In the Brain to see the latest modules</p>
    <div>
      <form>
        <input type="text" placeholder="Your Email"/>
        <input type="submit" value ="Subscribe" />
      </form>
    </div>
  </div>
    <div>
      <ul>
        <li>Made by: Peter Banh</li>
        <li>peter.banh95@gmail.com</li>
        <li>https://twitter.com/pebanh2</li>
        <li>https://www.linkedin.com/in/peter-banh/</li>
      </ul>
    </div>
</footer>
</body>

</html>