<footer>
  <div id ="subscribe-container">
    <p>Subscribe to Fill-In the Brain to see the latest modules</p>
    <div>
      <form>
        <input type="text" placeholder="Not enabled yet" disabled/>
        <input type="submit" value ="Subscribe" disabled/>
      </form>
    </div>
  </div>
    <div id ="contact-container">
      <ul>
        <li>Made by: Peter Banh</li>
        <li>peter.banh95@gmail.com</li>
        <li>https://twitter.com/pebanh2</li>
        <li>https://www.linkedin.com/in/peter-banh/</li>
      </ul>
    </div>
</footer>
</body>

</html>