<footer>
  <div id ="subscribe-container">
    <p>Subscribe to Fill-In the Brain to see the latest modules</p>
    <div>
      <form>
        <input type="text" placeholder="Not enabled yet" disabled/>
        <input type="submit" value ="Subscribe" disabled/>
      </form>
    </div>
  </div>
    <div id ="contact-container">
      <ul>
        <li>Made by: Peter Banh</li>
        <li><i class='fa fa-envelope' style='font-size:14px;color:white'></i> peter.banh95@gmail.com</li>
        <li><i class="fa fa-twitter" style="font-size:16px;color:rgb(29,161,242)"></i> https://twitter.com/pebanh2</li>
        <li><div style="height: 10px; width: 10px; border-radius: 1px; background:white;display: inline-flex; justify-content: center; align-items: center;"><i class="fa fa-linkedin-square" style="font-size:16px;color:rgb(40,103,178)"></i> </div> https://www.linkedin.com/in/peter-banh/</li>
      </ul>
    </div>
</footer>
</body>
</html>