<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Fill-In the Brain</title>
  </head>

  <body>
    <header>
      <nav>
        <h1>Fill-In The Brain</h1>
        <input type="text" placeholder="Search Fill-In the Brain..." />
        <div>
          <a href="/">See All Modules</a>
          <div>
            <% if(user){ %>
            <a href="/modules/<%=user.id%>">Your Modules</a>
            <a href="/modules/create">Create a Module</a>
            <a href="/auth/logout">
              <input type="button" value="Log Out" />
            </a>
            <% }else{%>
            <a href="/auth/login">
              <input type="button" value="Log In" />
            </a>
          <% }%>
          </div>
        </div>
      </nav>
    </header>

