<%- include('./partials/header') %>
<script src="/javascripts/moduleCreate.js" defer></script>
<div id="create-container">
  <div id="create-window">
    <h2>Creating BrainFill Module</h2>
    <div>
      <p>
        To create your module, fill in the following:
      </p>
      <form id="module-form" method="POST" action="/modules/create">
        <div class="form-row">
          <label for="topic">Enter your Topic:</label>
          <input id="topic" name="topic" type="text" />
        </div>
        <div class="form-row">
          <label for="category">Pick Your Category:</label>
          <select id="category" name="category">
            <option value="science">Science</option>
            <option value="history">History</option>
          </select>
        </div>
        <div class="form-row">
          <label for="source">Where will the content come from?</label>
          <select id="source" name="source">
            <option value="url" disabled>URL</option>
            <option value="text">Text</option>
          </select>
        </div>
        <div class="form-row">
          <label for="content">Content:</label>
          <textarea id="content" name="content"></textarea>
        </div>
        <div class="form-row">
          <label for="numOfBlanks">How many Fill in the Blanks?</label>
          <select id="numOfBlanks" name="numOfBlanks"> </select>
        </div>
        <div class="form-row">
          <input id="create-btn" type="submit" value="Create " disabled />
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
