<%- include('./partials/header') %>

<div id="login-container">
  <div id="login-window">
    <div>
      <h1>Log In</h1>
    </div>
    <div id="button-container">
      <a href="/auth/login/google"><button>Log in with Google</button></a>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
