* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #f1f1f1;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

::-webkit-input-placeholder {
  color: #f4f4f4a4;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  color: #f4f4f4a4;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  color: #f4f4f4a4;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  color: #f4f4f4a4;
  opacity: 1;
  /* Firefox */
}

.container, #index-container, #login-container, #create-container, #module-container, #profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}

#index-container #info-box {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0.75))), url("/images/pattern.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("/images/pattern.jpg");
  -webkit-box-shadow: 5px 10px 20px -15px;
          box-shadow: 5px 10px 20px -15px;
  width: 1100px;
  height: 260px;
  border-radius: 5px;
  margin: 15px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#index-container #info-box #arrow-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1100px;
  padding: 20px;
  height: 260px;
}

#index-container #info-box #arrow-box a {
  position: relative;
  z-index: 2;
  cursor: pointer;
  font-size: 30px;
  width: 20px;
}

#index-container #info-box #arrow-box a:hover {
  color: #ffde00ff;
}

#index-container #info-box .box {
  padding: 10px 0;
  position: relative;
  width: 75%;
  height: 260px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: fade-in 0.5s forwards;
          animation: fade-in 0.5s forwards;
  opacity: 0;
}

#index-container #info-box .box h2 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}

#index-container #info-box .box p {
  line-height: 30px;
  font-size: 20px;
}

#index-container #info-box .box li {
  line-height: 25px;
  font-size: 16px;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#index-container #info-box #box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#index-container #info-box #box-1 h2 {
  margin: 5px 0px 10px 0;
}

#index-container #info-box #box-1 h3 {
  margin-top: 15px;
}

#index-container #info-box #box-1 ul {
  margin-top: 6px;
}

#index-container #info-box #box-2 {
  display: none;
}

#index-container #info-box #box-2 h2 {
  margin: 5px 0px 10px 0;
}

#index-container #info-box #box-2 p {
  margin: 30px 0px;
}

#index-container #info-box #box-2 h3 {
  margin-top: 10px;
}

#index-container #info-box #box-2 ul {
  margin-top: 6px;
}

#index-container #info-box #box-3 {
  display: none;
}

#index-container #info-box #box-3 h2 {
  margin: 5px 0px 10px 0;
}

#index-container #info-box #box-3 p {
  margin: 5px 0px;
}

#index-container #info-box #box-3 h3 {
  margin: 5px 0;
}

#index-container #info-box #box-3 ul {
  margin-top: 0px;
}

#index-container #info-box .circle {
  background: #6d6d6d;
  border-radius: 50%;
  position: absolute;
  top: 235px;
  right: 20px;
  width: 15px;
  height: 15px;
}

#index-container #info-box #circle-1 {
  background: #ffde00ff;
  right: 80px;
}

#index-container #info-box #circle-2 {
  right: 60px;
}

#index-container #info-box #circle-3 {
  right: 40px;
}

#index-container #modules-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1100px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 15px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#index-container #modules-container .module:not(:nth-child(4n)) {
  margin-right: 33px;
}

#index-container #modules-container .module {
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 5px 10px 20px -15px;
          box-shadow: 5px 10px 20px -15px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0.75))), url("/images/pattern.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("/images/pattern.jpg");
  height: 350px;
  width: 250px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 2000px;
}

#index-container #modules-container .module:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(253, 245, 135, 0.603)), to(rgba(253, 245, 135, 0.603))), url("/images/pattern.jpg");
  background: linear-gradient(rgba(253, 245, 135, 0.603), rgba(253, 245, 135, 0.603)), url("/images/pattern.jpg");
}

#index-container #modules-container .module:hover .try-me {
  cursor: pointer;
  font-size: 22px;
  color: #fa8e13;
  position: relative;
  z-index: 2;
}

#index-container #modules-container .module .module-info {
  border-radius: 5px 5px 0 0;
  border: solid black;
  border-width: 0 0 1px 0;
  position: relative;
  width: 100%;
  padding: 7px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#index-container #modules-container .module .module-info .module-row {
  text-align: center;
}

#index-container #modules-container .module .module-info button {
  height: 30px;
  margin-bottom: 8px;
  border: 0px;
  font-size: 18px;
  font-family: 'Ubuntu', 'Roboto', sans-serif;
  background: rgba(0, 0, 0, 0);
  outline: none;
  -webkit-transition: font-size 0.25s;
  transition: font-size 0.25s;
}

#index-container #modules-container .module .module-info p {
  font-size: 20px;
  text-decoration: underline;
  text-transform: capitalize;
}

#index-container #modules-container .module .module-info .popup-menu {
  position: absolute;
  left: 5px;
  z-index: 2;
  visibility: visible;
}

#index-container #modules-container .module .module-info .popup-menu a {
  display: block;
  width: 100%;
}

#index-container #modules-container .module .module-info .popup-menu i {
  position: absolute;
}

#index-container #modules-container .module .module-info .popup-menu:hover ul {
  visibility: visible;
}

#index-container #modules-container .module .module-info .popup-menu:hover i {
  visibility: hidden;
}

#index-container #modules-container .module .module-info .popup-menu:hover {
  background: white;
  -webkit-box-shadow: 5px 7px 10px -5px;
          box-shadow: 5px 7px 10px -5px;
}

#index-container #modules-container .module .module-info .popup-menu ul {
  visibility: hidden;
  list-style-type: none;
}

#index-container #modules-container .module .module-info .popup-menu ul li {
  padding: 5px;
}

#index-container #modules-container .module .module-info .popup-menu ul li:hover {
  background: #ffde00ff;
  cursor: pointer;
}

#index-container #modules-container .module .module-info .popup-menu ul li:active {
  color: red;
}

#index-container #modules-container .module .module-info .popup-menu ul li a {
  color: black;
  text-decoration: none;
}

#index-container #modules-container .module .user-div {
  background: rgba(16, 22, 105, 0.8);
  color: white;
  border-radius: 0 0 5px 5px;
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index-container #modules-container .module .user-div .avatar-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#index-container #modules-container .module .user-div .avatar-img img {
  width: 105%;
  border-radius: 50%;
}

#index-container #modules-container .module:nth-child(4n+ 1) {
  -webkit-animation: move-in 0.5s 0.25s forwards;
          animation: move-in 0.5s 0.25s forwards;
}

#index-container #modules-container .module:nth-child(4n+ 2) {
  -webkit-animation: move-in 0.5s 0.5s forwards;
          animation: move-in 0.5s 0.5s forwards;
}

#index-container #modules-container .module:nth-child(4n+ 3) {
  -webkit-animation: move-in 0.5s 0.75s forwards;
          animation: move-in 0.5s 0.75s forwards;
}

#index-container #modules-container .module:nth-child(4n+ 4) {
  -webkit-animation: move-in 0.5s 1s forwards;
          animation: move-in 0.5s 1s forwards;
}

@-webkit-keyframes move-in {
  from {
    left: 2000px;
  }
  to {
    left: 0px;
  }
}

@keyframes move-in {
  from {
    left: 2000px;
  }
  to {
    left: 0px;
  }
}

#index-container #pop-up-delete {
  position: fixed;
  padding: 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 40%;
  left: 40%;
  z-index: 6;
  background: #F1F1F1;
  display: none;
}

#index-container #pop-up-delete > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#index-container #pop-up-delete > div button {
  cursor: pointer;
  margin: 0 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 3px;
  border: 0px;
  outline-color: #e7e7e7;
  border-radius: 5px;
  color: white;
}

#index-container #pop-up-delete > div #del-no {
  background: #757272;
}

#index-container #pop-up-delete > div #del-no:hover {
  background: #464444;
}

#index-container #pop-up-delete > div #del-yes {
  background: red;
}

#index-container #pop-up-delete > div #del-yes:hover {
  background: #af1818;
}

#index-container #pop-up-delete * {
  margin: 5px 0;
}

#index-container #delete-backdrop {
  display: none;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 5;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

#login-container #login-window {
  width: 500px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 10px 20px -10px;
          box-shadow: 5px 10px 20px -10px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0.75))), url("/images/pattern.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("/images/pattern.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login-container #login-window h1 {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 22, 105, 0.8)), to(rgba(16, 22, 105, 0.8)));
  background: linear-gradient(rgba(16, 22, 105, 0.8), rgba(16, 22, 105, 0.8));
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  font-family: 'Ubuntu';
}

#login-container #login-window #button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#login-container #login-window a {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 10px;
}

#login-container #login-window button {
  font-size: 16px;
  background: #1a73e8;
  padding: 13px;
  border: 0px;
  border-radius: 5px;
  width: 100%;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

#login-container #login-window button:hover {
  background: rgba(26, 115, 232, 0.76);
}

#login-container #login-window button:focus {
  outline: none;
}

#create-container #create-window {
  -webkit-box-shadow: 5px 10px 20px -20px;
          box-shadow: 5px 10px 20px -20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0.75))), url("/images/pattern.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("/images/pattern.jpg");
  width: 650px;
  border-radius: 5px;
  margin: 20px;
}

#create-container #create-window h2 {
  border-radius: 5px 5px 0 0;
  font-size: 30px;
  font-weight: 500;
  padding: 10px 15px;
  background: rgba(16, 22, 105, 0.8);
  color: white;
  font-family: 'Ubuntu';
}

#create-container #create-window div {
  padding: 10px 15px;
}

#create-container #create-window form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#create-container #create-window form input[type='text'], #create-container #create-window form textarea, #create-container #create-window form select {
  background: #F1F1F1;
  border: 0px;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  padding-left: 5px;
}

#create-container #create-window form input[type='text']:focus, #create-container #create-window form textarea:focus, #create-container #create-window form select:focus {
  background: white;
  border: 1px solid black;
}

#create-container #create-window form .form-row {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#create-container #create-window form .form-row input[type="text"] {
  height: 20px;
}

#create-container #create-window form .form-row select {
  height: 24px;
}

#create-container #create-window form .form-row textarea {
  resize: none;
  min-height: 250px;
}

#create-container #create-window form .form-row:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#create-container #create-window form .form-row input[type="submit"] {
  padding: 10px;
  font-family: 'Ubuntu';
}

#module-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#module-container .module-positioner {
  position: relative;
  width: 800px;
  margin: 20px;
}

#module-container #window-1 {
  z-index: 1;
  position: relative;
  top: 0px;
  -webkit-transition: opacity 0.5s, height 1.5s;
  transition: opacity 0.5s, height 1.5s;
}

#module-container #window-2 {
  z-index: -1;
  position: absolute;
  top: 0px;
  opacity: 0%;
  -webkit-transition: opacity 0.5s, height 1.5s;
  transition: opacity 0.5s, height 1.5s;
}

#module-container .module-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 800px;
}

#module-container .module-window .module-header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 22, 105, 0.8)), to(rgba(16, 22, 105, 0.8))), url("/images/pattern.jpg");
  background: linear-gradient(rgba(16, 22, 105, 0.8), rgba(16, 22, 105, 0.8)), url("/images/pattern.jpg");
  border-radius: 5px 5px 0 0;
  padding: 10px 15px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#module-container .module-window .module-header h2 {
  font-family: 'Ubuntu','Roboto', sans-serif;
  font-size: 30px;
}

#module-container .module-window .module-header .switch {
  cursor: pointer;
}

#module-container .module-window .module-header .switch:hover {
  color: #ffde00ff;
}

#module-container .module-window .module-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 0px;
  padding: 0px 15px;
  color: white;
  background: rgba(16, 22, 105, 0.6);
  overflow: hidden;
  text-transform: capitalize;
  -webkit-transition: height 0.5s, padding 0.5s;
  transition: height 0.5s, padding 0.5s;
}

#module-container .module-window .module-info .module-info-right {
  text-align: right;
}

#module-container .module-window .module-info .module-info-right * {
  color: white;
  text-decoration: none;
}

#module-container .module-window .module-info .module-info-right *:hover {
  cursor: pointer;
  color: #ffde00ff;
}

#module-container .module-window .module-info.module-info-activate {
  padding: 10px 15px;
  height: 58px;
}

#module-container .module-window .arrow-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#module-container .module-window .arrow-box .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  border-radius: 50%;
  top: -12px;
  color: white;
  background: #101669;
}

#module-container .module-window .arrow-box .arrow:hover {
  cursor: pointer;
  color: #ffde00ff;
}

#module-container .module-window .fib-container {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-shadow: 5px 10px 20px -20px;
          box-shadow: 5px 10px 20px -20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0.75))), url("/images/pattern.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("/images/pattern.jpg");
  border-radius: 0 0 5px 5px;
  padding: 0 10px;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

#module-container .module-window .fib-container input[type="text"] {
  padding-left: 5px;
  background: #F1F1F1;
  border: 0px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

#module-container .module-window .fib-container input[type="text"]:focus {
  background: white;
  border: 1px solid black;
}

#module-container .module-window .fib-container .additional-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
}

#module-container .module-window .fib-container .additional-info .create-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#module-container .module-window .fib-container ol {
  padding: 0 30px;
}

#module-container .module-window .fib-container ol li {
  padding: 15px 0 0 0;
  margin: 0 0 10px 0;
}

#module-container .module-window .fib-container #submit-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  -webkit-transition: width 1s;
  transition: width 1s;
}

#module-container .module-window .fib-container #submit-container input[type='submit'] {
  background: rgba(0, 0, 0, 0);
  border: 0px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

#module-container .module-window .fib-container #submit-container input[type='submit']:hover + label {
  width: 50px;
  border: 2px solid #ffde00ff;
}

#module-container .module-window .fib-container #submit-container label {
  width: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0);
  -webkit-transition: width 0.5s, border 0.5s;
  transition: width 0.5s, border 0.5s;
}

#module-container .module-window .fib-container #gn-container {
  padding: 20px 15px;
}

#module-container .module-window .fib-container #gn-container p {
  line-height: 2;
}

#module-container .module-window .fib-container .wrong {
  background: red !important;
}

#module-container .module-window .fib-container .correct {
  background: green !important;
}

#module-container .btn {
  font-size: 15px;
  position: relative;
  background: rgba(0, 0, 0, 0);
  border: 0px;
  outline: none;
}

#module-container .btn:hover {
  cursor: pointer;
}

#module-container .btn:hover > .line {
  width: 100%;
}

#module-container .btn .line {
  z-index: 3;
  background: #ffde00ff;
  height: 3px;
  width: 0;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

#module-container #pop-up-delete {
  position: fixed;
  padding: 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 40%;
  left: 40%;
  z-index: 11;
  background: #F1F1F1;
  display: none;
}

#module-container #pop-up-delete > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#module-container #pop-up-delete > div button {
  cursor: pointer;
  margin: 0 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 3px;
  border: 0px;
  outline-color: #e7e7e7;
  border-radius: 5px;
  color: white;
}

#module-container #pop-up-delete > div #del-no {
  background: #757272;
}

#module-container #pop-up-delete > div #del-no:hover {
  background: #464444;
}

#module-container #pop-up-delete > div #del-yes {
  background: red;
}

#module-container #pop-up-delete > div #del-yes:hover {
  background: #af1818;
}

#module-container #pop-up-delete * {
  margin: 5px 0;
}

#module-container #delete-backdrop {
  display: none;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#profile-container #profile-window {
  -webkit-box-shadow: 5px 10px 20px -20px;
          box-shadow: 5px 10px 20px -20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0.75))), url("/images/pattern.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("/images/pattern.jpg");
  width: 800px;
  height: 330px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#profile-container #profile-window h1 {
  font-family: 'Ubuntu','Roboto', sans-serif;
  border-radius: 5px 5px 0 0;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 22, 105, 0.8)), to(rgba(16, 22, 105, 0.8))), url("/images/pattern.jpg");
  background: linear-gradient(rgba(16, 22, 105, 0.8), rgba(16, 22, 105, 0.8)), url("/images/pattern.jpg");
  padding: 10px 20px;
}

#profile-container #profile-window #content {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#profile-container #profile-window #user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 25%;
  margin-right: 15px;
}

#profile-container #profile-window #user-info img {
  width: 100%;
  margin-bottom: 5px;
}

#profile-container #profile-window #user-info h3 {
  margin-bottom: 5px;
}

#profile-container #profile-window #module-info {
  padding: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F1F1F1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#profile-container #profile-window #module-info > div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header svg {
  width: 175px;
  height: 50px;
}

header #center-box {
  width: 1100px;
}

header nav {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 22, 105, 0.8)), to(rgba(16, 22, 105, 0.8))), url("/images/pattern.jpg");
  background: linear-gradient(rgba(16, 22, 105, 0.8), rgba(16, 22, 105, 0.8)), url("/images/pattern.jpg");
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  -webkit-box-shadow: 5px 10px 20px -20px;
          box-shadow: 5px 10px 20px -20px;
  color: white;
}

header nav h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav h1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav h1 img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
}

header nav form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25px;
}

header nav form label:hover {
  cursor: pointer;
}

header nav form input[type="submit"] {
  position: absolute;
  visibility: hidden;
}

header nav form input[type="text"] {
  font-size: 16px;
  margin-left: 5px;
  background: rgba(0, 0, 0, 0);
  border-width: 0 0 3px 0;
  padding: 10px 0 0 0;
  border-radius: 2px;
  color: white;
  border-color: #ffde00ff;
  width: 0px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

header nav form input[type="text"]:focus {
  width: 175px;
  outline: none;
}

header nav #account {
  position: relative;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header nav #account img {
  margin: 0px;
  height: 102%;
  border-radius: 50%;
}

header nav #account #act-pop-up {
  display: none;
  -webkit-box-shadow: 3px 3px 15px -5px black;
          box-shadow: 3px 3px 15px -5px black;
  z-index: 2;
  background: white;
  margin: 0px;
  width: 110px;
  position: absolute;
  top: 58px;
  left: -82px;
  border-radius: 5px;
}

header nav #account #act-pop-up ul {
  border-radius: 5px;
  position: relative;
  width: 100%;
  list-style-type: none;
  margin: 0px;
}

header nav #account #act-pop-up ul li {
  border-radius: 5px;
  background: white;
  position: relative;
  z-index: 2;
  margin: 0px;
  cursor: pointer;
}

header nav #account #act-pop-up ul li:hover {
  background: #ffde00;
}

header nav #account #act-pop-up ul li a {
  display: block;
  padding: 10px 5px;
  color: black;
  text-decoration: none;
  margin: 0px;
  position: relative;
}

header nav div {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header nav div div {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

header .fib-btn {
  position: relative;
  z-index: 1;
}

header .fib-btn div {
  z-index: 2;
  margin: 0px;
  width: 0px;
  height: 8px;
  border: solid #ffde00;
  border-width: 0 0 0 0;
  -webkit-transition: width 0.5s, border-width 0.4s;
  transition: width 0.5s, border-width 0.4s;
}

header .fib-btn input[type="button"] {
  position: relative;
  z-index: 1;
  margin: 8px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 2px;
  padding: 8px 2px 0 2px;
  background: rgba(0, 0, 0, 0);
  color: white;
  border-width: 0 0 0 0;
  cursor: pointer;
}

header .fib-btn input[type="button"]:focus {
  outline: none;
}

header .fib-btn:hover div {
  height: 8px;
  width: 100%;
  border: 1px solid #ffde00;
  border-width: 3px 0 0 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 10px;
  color: white;
  background: black;
  height: 100px;
}

footer #git-container {
  top: 35px;
  left: 10px;
  position: absolute;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #git-container p {
  display: inline;
}

footer #git-container a {
  color: white;
}

footer #git-container a:hover {
  color: #ffde00;
}

footer #subscribe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #contact-container {
  right: 0px;
  position: absolute;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #contact-container ul {
  text-align: right;
  list-style-type: none;
}
/*# sourceMappingURL=style.css.map */