*{
  font-family:Arial, Helvetica, sans-serif;
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}

.container{
  display:flex;
  flex-grow:1;
  justify-content:center;
  align-items:center;
}

#index-container{
  @extend .container;
  flex-direction:column;
  position:relative;
  #info-box{
    width: 1100px;
    height:200px;
    text-align: center;
    border:1px solid black;
    margin: 20px 0 0 0;
  }
  #modules-container{
    display:flex;
    width: 1100px;
    flex-grow: 1;
    margin: 20px 0;
    flex-wrap: wrap;
    .module:not(:nth-child(4n)){
      margin-right:68px;
    }
    .module{
      height: 350px;
      width: 220px;
      margin-bottom:20px;
      display:flex;
      flex-direction: column;
      .module-info{
        position:relative;
        width:100%;
        padding:7px;
        border:1px solid black;
        flex-grow:1;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: space-between;
        .module-row{
          text-align:center;
        }
        button{
          border:0px;
          padding:10px 40px;
          border:1px solid black;
        }
        p{
          text-transform:capitalize;
        }
        .popup-menu{
          position:absolute;
          left:5px;
          i{
            position:absolute;
          }
          &:hover ul{
            visibility: visible;
          }
          &:hover{
            visibility: hidden;
          }
          visibility:visible;
          position:absolute;
          ul{
            visibility: hidden;
            list-style-type: none;
            li{
              border:1px solid black;
              a{
                text-decoration: none;
              }
            }
          }
        }
      }
      .user-div{
        width:100%;
        height:20%;
        border:1px solid black;
        display:flex;
        justify-content: space-evenly;
        align-items:center;
        .avatar-img{
          display: flex;
          justify-content: center;
          align-items: center;
          width:50px;
          height:50px;
          border:1px solid black;
          border-radius:50%;
          img{
            width:105%;
            border-radius:50%;
          }
        }
      }
    }
  }
  #pop-up-delete{
    position:fixed;
    padding:10px;
    border: 1px solid black;
    border-radius:3px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    top:40%;
    left:40%;
    z-index:2;
    background:white;
    *{
      margin:5px 0;
    }
    display:none;
  }
  #delete-backdrop{
    display:none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(4px);
    background:rgba(0,0,0,0.6); 
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
  }
}

#login-container{
  @extend .container;
  div{
    padding:20px;
    width:500px;
    border:1px solid black;

    button{
      width:100%;
    }
  }
}

#create-container{
  @extend .container;
  #create-window{
    border:1px solid black;
    width:650px;
    h2{
      font-size:30px;
      font-weight: 500;
      padding:10px 15px;
      border:1px solid black;
    }
    div{
      padding: 10px 15px;
    }
    form{
      display:flex;
      flex-direction: column;
      justify-content: center;
      .form-row{
        padding:10px 0px;
        display:flex;
        flex-direction:column;
        input[type="text"]{
          height:20px;
        }
        select{
          height:24px;
        }
        textarea{
          resize:none;
          min-height:250px;
        }
        &:last-child{
          display: flex;
          flex-direction:row;
          justify-content: center;
        }
      }
    }
  }
}

#module-container{
  @extend .container;
  flex-direction:column;
  #module-info{
    margin-top:20px;
    width:800px;
    height:150px;
    display:flex;
    justify-content: space-between;
    #module-info-left{
      display:flex;
      flex-direction:column;
      justify-content: space-around;
      padding:5px;
      div{
        display:flex;
        p{
          text-transform: capitalize;
          margin-right: 10px;
          span{
            font-weight:600;
          }
        }
        button{
          margin-right: 10px;
        }
      }
    }
    #module-info-right{
      display:flex;
      flex-direction:column;
      justify-content: space-around;
      align-items: flex-end;
      padding:5px;
    }
  }
  #fib-container{
    margin: 5px 0 20px 0;
    width:800px;
    flex-grow:1;
    border:1px solid black;
    form{
      padding: 0 30px;
      ol{
        li{
          margin:15px 0;
        }
      }
      &>div{
        display:flex;
        justify-content: center;
      }
    }
  }
}

header{
  nav{
    padding:10px 15px;
    display:flex;
    border:1px solid black;
    input[type="text"]{
      margin-left:10px;
      width:250px;
    }
    div{
      margin-left:10px;
      display:flex;
      align-items: center;
      justify-content: space-between;
      flex-grow:1;
      div{
        flex-grow:0;
        *{
          margin-left:30px;
        }
      }
    }
  }
}

footer{
  display:flex;
  position:relative;
  justify-content: center;
  padding:15px 10px;
  color:white;
  background:black;
  height:100px;

  #subscribe-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }

  #contact-container{
    padding-right:10px;
    display:flex;
    position: absolute;
    right:0px;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    ul{
      text-align:right;
      list-style-type: none;
    }
  }

  
}
