$brainfill-yellow: #ffde00ff;
$brainfill-blue: rgba(16, 22, 105, 0.8);

*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background:#f1f1f1;
  min-height: 100vh;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}

::placeholder {
  color: #f4f4f4a4;
  opacity: 1; /* Firefox */
}

.container{
  display:flex;
  flex-grow:1;
  justify-content:center;
  align-items:center;
}

#index-container{
  @extend .container;
  flex-direction:column;
  position:relative;
  overflow:hidden;
  #info-box{
    background:linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("/images/pattern.jpg");
    box-shadow: 5px 10px 20px -15px;
    width: 1100px;
    height:260px;
    border-radius:5px;
    margin: 15px 0 0 0;
    display: flex;
    align-items: center;;
    flex-direction: column;
    position:relative;
    #arrow-box{
      position:absolute;
      display:flex;
      justify-content: space-between;
      align-items: center;
      width:1100px;
      padding:20px;
      height:260px;
      a{
        position:relative;
        z-index:2;
        cursor: pointer;
        font-size: 30px;
        width:20px;
        &:hover{
          color: $brainfill-yellow;
        }
      }
    }
    .box{
      padding:10px 0;
      position:relative;
      width: 75%;
      height:260px;
      align-items: center;
      flex-direction: column;
      animation:fade-in 0.5s forwards;
      opacity:0;
      h2{
        font-size: 30px;
        font-family: 'Ubuntu', sans-serif;
      }
      p{
        line-height: 30px;
        font-size:20px;
      }
      li{
        line-height: 25px;
        font-size:16px;
      }
      @keyframes fade-in{
        from {opacity:0}
        to {opacity:1}
      }
    }
    #box-1{
      display:flex;
      h2{
        margin:5px 0px 10px 0;
      }
      h3{
        margin-top:15px;
      }
      ul{
        margin-top:6px;
      }
    }
    #box-2{
      display:none;
      h2{
        margin:5px 0px 10px 0;
      }
      p{
        margin:30px 0px;
      }
      h3{
        margin-top:10px;
      }
      ul{
        margin-top:6px;
      }
    }
    #box-3{
      display:none;
      h2{
        margin:5px 0px 10px 0;
      }
      p{
        margin:5px 0px;
      }
      h3{
        margin:5px 0;
      }
      ul{
        margin-top:0px;
      }
    }
    .circle{
      background:rgb(109, 109, 109);
      border-radius:50%;
      position:absolute;
      top:235px;
      right:20px;
      width:15px;
      height:15px;
    }
    @for $i from 1 through 3{
      #circle-#{$i} {
        @if $i == 1 {
          background: $brainfill-yellow;
        }
        right:20px+(4-$i)*20;
      }
    }
  }
  #modules-container{
    display:flex;
    width: 1100px;
    flex-grow: 1;
    margin: 15px 0;
    flex-wrap: wrap;
    .module:not(:nth-child(4n)){
      margin-right:33px;
    }
    .module{
      position:relative;
      border-radius:5px;
      box-shadow: 5px 10px 20px -15px;
      background:white;
      height: 350px;
      width: 250px;
      margin-bottom:20px;
      display:flex;
      flex-direction: column;
      left: 2000px;
      &>a{
        position:relative;
        z-index:2;
      }
      .module-info{
        border-radius:5px 5px 0 0;
        border: solid black;
        border-width: 0 0 1px 0;
        position:relative;
        width:100%;
        padding:7px;
        flex-grow:1;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: space-between;
        .module-row{
          text-align:center;
        }
        button{
          height:30px;
          margin-bottom: 8px;
          border:0px;
          font-size:18px;
          font-family: 'Ubuntu', 'Roboto', sans-serif;
          background:rgba(0,0,0,0);
          outline:none;
          transition:font-size 0.25s;
          &:hover{
            cursor:pointer;
            font-size:20px;
            color:rgb(250, 142, 19);
          }
        }
        p{
          font-size:20px;
          text-decoration: underline;
          text-transform:capitalize;
        }
        .popup-menu{
          position:absolute;
          left:5px;

          visibility:hidden;
          i{
            position:absolute;
          }
          &:hover ul{
            visibility: visible;
          }
          &:hover i{
            visibility: hidden;
          }
          &:hover{
            box-shadow: 5px 7px 10px -5px;
          }
          visibility:visible;
          position:absolute;
          ul{
            visibility: hidden;
            list-style-type: none;
            li{
              padding:5px;
              &:hover{
                background: $brainfill-yellow;
                cursor:pointer;
              }
              &:active{
                color:red;
              }
              a{
                text-decoration: none;
              }
            }
          }
        }
      }
      .user-div{
        background:linear-gradient($brainfill-blue, $brainfill-blue), url("/images/pattern.jpg");
        color:white;
        border-radius: 0 0 5px 5px;
        width:100%;
        height:20%;
        display:flex;
        justify-content: space-evenly;
        align-items:center;
        .avatar-img{
          display: flex;
          justify-content: center;
          align-items: center;
          width:50px;
          height:50px;
          border-radius:50%;
          img{
            width:105%;
            border-radius:50%;
          }
        }
      }
      @for $i from 1 through 4 {
        &:nth-child(4n+ #{$i}){
          animation: move-in 0.75s #{$i/3}s forwards;
        }
      }
      @keyframes move-in{
        from {left: 2000px}
        to {left:0px;}
      }
    }
  }
  #pop-up-delete{
    position:fixed;
    padding:10px;
    border: 1px solid black;
    border-radius:3px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    top:40%;
    left:40%;
    z-index:2;
    background:white;
    *{
      margin:5px 0;
    }
    display:none;
  }
  #delete-backdrop{
    display:none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(4px);
    background:rgba(0,0,0,0.6); 
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
  }
}

#login-container{
  @extend .container;
  div{
    padding:20px;
    width:500px;
    border-radius:5px;
    box-shadow: 5px 10px 20px -20px;
    background:white;
    display:flex;
    flex-direction:column;
    justify-content: center;

    .line{
      margin: 0 auto;
      width:90%;
      height:0px;
      padding:0px;
      border:1px solid black;
    }

    h1{
      margin:0px auto 0px auto;
      font-family:'Ubuntu'
    }

    button{
      font-size:16px;
      margin-top:20px;
      flex-grow:1;
      background: #1a73e8;
      padding: 13px;
      border:0px;
      border-radius:5px;
      width:100%;
      color:white;
      font-weight:600;
      cursor:pointer;
      &:hover{
        background:rgba(26,115,232,0.76)
      }
      &:focus{
        outline:none;
      }
    }
  }
}

#create-container{
  @extend .container;
  #create-window{
    box-shadow: 5px 10px 20px -20px;
    background:white;
    width:650px;
    border-radius:5px;
    h2{
      font-size:30px;
      font-weight: 500;
      padding:10px 15px;
      background:$brainfill-blue;
      color:white;
      font-family:'Ubuntu';
    }
    div{
      padding: 10px 15px;
    }
    form{
      display:flex;
      flex-direction: column;
      justify-content: center;
      input[type='text'], textarea, select{
        background:#F1F1F1;
        border:0px;
        border-radius:5px;
        outline:none;
        font-size:14px;
        &:focus{
          background:white;
          border:1px solid black;
        }
      }
      .form-row{
        padding:10px 0px;
        display:flex;
        flex-direction:column;
        input[type="text"]{
          height:20px;
        }
        select{
          height:24px;
        }
        textarea{
          resize:none;
          min-height:250px;
        }
        &:last-child{
          display: flex;
          flex-direction:column;
          justify-content: center;
          align-items: center;;
        }
        input[type="submit"]{
          padding:10px;
          font-family:'Ubuntu';
        }
      }
    }
  }
}

#module-container{
  @extend .container;
  flex-direction:column;
  #module-info{
    margin-top:20px;
    width:800px;
    height:150px;
    display:flex;
    justify-content: space-between;
    #module-info-left{
      display:flex;
      flex-direction:column;
      justify-content: space-around;
      padding:5px;
      div{
        display:flex;
        p{
          text-transform: capitalize;
          margin-right: 10px;
          span{
            font-weight:600;
          }
        }
        button{
          margin-right: 10px;
        }
        #useful-btn{
          width:165px;
        }
      }
    }
    #module-info-right{
      display:flex;
      flex-direction:column;
      justify-content: space-around;
      align-items: flex-end;
      padding:5px;
      div{
        display:flex;
        *{
          margin-left:5px;
        }
      }
    }
  }
  #fib-container{
    margin: 5px 0 20px 0;
    width:800px;
    flex-grow:1;
    box-shadow: 5px 10px 20px -20px;
    background: white;
    border:1px solid black;
    #gn-container{
      display:none;
      p{
        margin:20px 0;
      }
    }
    #quiz-container{
      display:block;
    }
    h4{
      margin-top:15px;
    }
    .wrong{
      background:red;
    }
    .correct{
      background:green;
    }
    &>*{
      padding: 0 30px;
      ol{
        li{
          margin:15px 0 10px 0;;
        }
      }
      #submit-container{
        display:flex;
        justify-content: center;
        padding:10px;
      }
    }
  }
  #pop-up-delete{
    position:fixed;
    padding:10px;
    border: 1px solid black;
    border-radius:3px;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    top:40%;
    left:40%;
    z-index:2;
    background:white;
    *{
      margin:5px 0;
    }
    display:none;
  }
  #delete-backdrop{
    display:none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(4px);
    background:rgba(0,0,0,0.6); 
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
  }
}

#profile-container{
  @extend .container;
  #profile-window{
    box-shadow: 5px 10px 20px -20px;
    background:white;
    width:800px;
    height:300px;
    border-radius:5px;
    display:flex;
    flex-direction: row;
    padding:20px;
    &>div{
      margin:0 20px;
    }
    #user-info{
      display:flex;
      flex-direction:column;
      justify-content: space-around;
      width:25%;
      img{
        width:100%;
      }
    }
    #module-info{
      padding:5px;
      flex-grow:1;
      border:1px solid black;
      display:flex;
      flex-direction: column;
      &>div{
        flex-grow:1;
        display:flex;
        flex-direction:column;
      }
    }
  }
}

header{
  svg{
    width:175px;
    height:50px;
  }
  #center-box{
    width:1100px;
  }
  nav{
    background: linear-gradient($brainfill-blue, $brainfill-blue), url("/images/pattern.jpg");
    padding:10px 15px;
    display:flex;
    flex-direction: column;
    align-items: center;;
    border:1px solid black;
    box-shadow: 5px 10px 20px -20px;
    color:white;
    h1{
      display:flex;
      justify-content: center;
      align-items: center;
      a{
        display: flex;
      }
      img{
        display: inline-flex;
        height:40px;
      }
    }
    form{
      display:flex;
      justify-content: center;
      align-items: center;
      margin-left:25px;
      label:hover{
        cursor:pointer;
      }
      input[type="submit"]{
        position:absolute;
        visibility:hidden;
      }
      input[type="text"]{
        font-size:16px;
        margin-left:5px;
        background: rgba(0,0,0,0);
        border-width: 0 0 3px 0;
        padding:10px 0 0 0;
        border-radius: 2px;
        color:white;
        border-color:$brainfill-yellow;
        width:0px;
        transition: width 0.5s;
        &:focus{
          width:175px;
          outline: none;
        }
      }
    }
    #account{
      position:relative;
      height:35px;
      width:35px;
      border-radius:50%;
      display:flex;
      justify-content: center;
      align-items: center;
      cursor:pointer;
      img{
        margin:0px;
        height:102%;
        border-radius:50%;
      }
      #act-pop-up{
        display:none;
        box-shadow: 3px 3px 15px -5px black;
        z-index:2;
        background:white;
        margin:0px;
        width:110px;
        position:absolute;
        top:58px;
        left:-82px;
        border-radius:5px;
        ul{
          border-radius:5px;
          position:relative;
          width:100%;
          list-style-type:none;
          margin:0px;
          li{
            border-radius:5px;
            background:white;
            position:relative;
            z-index:2;
            margin:0px;
            cursor:pointer;
            &:hover{
              background: #ffde00;
            }
            a{
              display:block;
              padding:10px 5px;
              color:black;
              text-decoration: none;
              margin:0px;
              position:relative;
            }
          }
        }
      }
    }

    div{
      margin-left:10px;
      display:flex;
      align-items: center;
      justify-content: space-between;
      flex-grow:1;
      div{
        flex-grow:0;
        *{
        }
      }
    }
  }
  .fib-btn{
    position:relative;
    z-index:1;
    div{
      z-index:2;
      margin:0px;
      width: 0px;
      height:8px;
      border: solid #ffde00;
      border-width: 0 0 0 0;
      transition: width 0.5s, border-width 0.4s;
    }
    input[type="button"]{
      position:relative;
      z-index:1;
      margin:8px;
      font-size:16px;
      font-weight:500;
      border-radius:2px;
      padding: 8px 2px 0 2px;
      background:rgba(0,0,0,0);
      color:white;
      border-width: 0 0 0 0;
      &:focus{
        outline:none;
      }
      cursor:pointer;
    }
    &:hover div{
      height:8px;
      width:100%;
      border:1px solid #ffde00;
      border-width: 3px 0 0 0;
    }
  }
}

footer{
  display:flex;
  position:relative;
  justify-content: space-between;
  padding:15px 10px;
  color:white;
  background:black;
  height:100px;

  #git-container{
    color:white;
    display:flex;
    justify-content:center;
    align-items: center;
    p{
      display:inline;
    }
    a{
      color:white;
    }
    a:hover{
      color:#ffde00;
    }
  }

  #subscribe-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }

  #contact-container{
    padding-right:10px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    ul{
      text-align:right;
      list-style-type: none;
    }
  }
}
